<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Eat Me!{{else}}I've been Eatan!{{/if}}
	</button>
	<button class="delete" data-id="{{id}}">Delete</button>
</li>
